$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Rubik+Mono+One');

$grey: #ddd;
$dark-grey: #555;
$main-color: #2d649e;
$dark-main-color: #1a2d54;
// $accent-color: #67ea85;
$accent-color: #68e8c8;
$neon-purple: #d772ff;
$transparent: rgba(0, 0, 0, 0);
$rubik: 'Rubik Mono One', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;

@mixin section-style {
  background: linear-gradient(rgba(255, 255, 255, .35), $grey 70%);
  border: 2px solid $accent-color;
  box-shadow: 4px 4px 12px $accent-color;
}

a {
  color: $accent-color;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  text-decoration: underline overline;

  &:hover {
    color: $grey;
    font-weight: 800;
    text-decoration: underline overline;
  }
}

body {
  background: linear-gradient($main-color, $dark-main-color);
  background-image: url('https://raw.githubusercontent.com/skinnybuff/tic-tac-toe/graphicBG/img/neonBg.jpg');
  background-size: cover;
  font-family: $roboto;
  font-size: 18px;
  height: 1000px;
  margin: 40px 5px;
}

button {
  background: $accent-color;
  border: 0;
}

.button-wrapper {
  position: absolute;
  top: 610px;

  button {
    color: $dark-main-color;
    width: 200px;

    &:hover {
      color: $grey;
    }
  }
}

.center-col {
  @include section-style;
  float: left;
  margin: 1px 20px;
  min-height: 500px;
  min-width: 472px;
  padding: 20px;
  width: 55%;
}

focus {
  color: $dark-grey;
}

form {
  button {
    margin-left: 4px;
    margin-top: 4px;
  }
}

.game-meta {
  @include section-style;
  color: $dark-main-color;
  float: left;
  height: 500px;
  min-width: 250px;
  padding: 10px 20px;

  ul {
    font-family: $roboto;
    list-style: none;
    margin-top: 30px;
  }

}

.grid-box {
  box-sizing: border-box;
  float: left;
  height: 106px;
  user-select: none;
  width: 106px;

  &:hover {
    background-color: $accent-color;
  }
}

.grid-style {
  border: 3px $dark-main-color dotted;
}

header {
  color: #fff;
  font-family: $rubik;
  margin: 100px 0px 65px;
  text-align: center;
  text-shadow: 2px 2px $neon-purple, 6px 6px 32px $neon-purple;

  h1 {
    font-size: 8rem;
  }
}

.heads-up {
  border: 1px solid $dark-main-color;
  color: $main-color;
  margin: 0 auto;
  min-height: 40px;
  min-width: 426px;
  padding: 4px 10px;
  width: 50%;

  button {
    float: right;
    height: 40px;
  }

  p {
    margin: 6px;
    text-align: center;
  }

}

img {
  display: block;
  margin: 0 auto;
}

.inactive {
  color: $dark-main-color;
}

input {
  background: $transparent;
  border: 0;
  border-bottom: 1px solid $accent-color;
  color: $dark-main-color;
  margin: 4px;
  padding: 4px;
  width: 200px;
}

label {
  border-bottom: 1px solid $accent-color;
  color: $dark-main-color;
  line-height: 16px;
  width: 200px;

  a {
    float: right;
  }

  span {
    position: relative;
    top: 6px;
  }
}

.letter-display {
  color: #fff;
  font-family: $rubik;
  font-size: 4.5em;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
  text-shadow: 2px 2px $accent-color, 0px 6px 32px $accent-color;
  width: 100%;
}

main {
  height: 320px;
  margin: 30px auto;
  width: 320px;
}

.mast-head {
  @include section-style;
  float: left;
  min-height: 500px;
  min-width: 250px;
  padding: 80px 20px 20px;
  width: 20%;

  a {
    float: right;
  }

  img {
    margin-bottom: 30px;
  }

  form {
    input[placeholder] {
      color: $main-color;
    }
  }
}

#saved-games-display {
  background: $dark-main-color;
  color: $main-color;
  height: 350px;
  margin-top: 30px;
  overflow-y: scroll;
  padding: 2px;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding-left: 40px;

      &:nth-child(even) {
        color: $grey;
      }
    }
  }

}

.style-hori {
  border-left: 0;
  border-right: 0;
}

.style-vert {
  border-bottom: 0;
  border-top: 0;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

#sign-in {
  button{
    width: 200px;
  }
}
